<div class="container-fluid" id="name">
    <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            <div class="form-group">
                <label for="name">Original Quoter</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
                <div [hidden]="name.valid || name.pristine" class="alert alert-warning">
                    <p>Please add original quote's name</p>
                </div>
            </div>



        </form>
    </div>




</div>